body {
    font-family: Arial;
    margin: 20px;
}

table {
    border-collapse: collapse;
    width: 90%;
}

td, th {
    border: 1px solid #ddd;
    padding: 8px;
}

nav a {
    margin-right: 20px;
}
